/Taller/Objetos/TPProyectoAlumnos/TP_ProyectoAlumnos/nbproject/private/
/Taller/Objetos/TP_ProyectoAlumnos/nbproject/private/
/Taller/Objetos/TP_ProyectoAlumnos/build/
/Taller/Objetos/Practicas/Practicas/nbproject/private/
/Taller/Objetos/Practicas/TurnoE08102024/nbproject/private/
/Taller/Objetos/Practicas/TurnoE08102024/build/
/Taller/Objetos/Practicas/TurnoF081024/nbproject/private/
/Taller/Objetos/Practicas/TurnoF081024/build/
/Taller/Objetos/Practicas/TurnoE111023/nbproject/private/
/Taller/Objetos/Practicas/TurnoE111023/build/
/Taller/Objetos/Practicas/puto/nbproject/private/
/Taller/Objetos/Practicas/puto/build/
/Taller/Objetos/Practicas/TurnoC16102024/nbproject/private/
/Taller/Objetos/Practicas/TurnoC16102024/build/
